@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
//FONTS
$mainfont: 'Arimo', sans-serif;

//COLORS
$darkblack: #222;
$mainblack: #333;
$white: #fff;
$red: #E84C4C;
$lightgrey: #73797F;
