.dashboard {
  background-color: $darkblack;
  min-height: 92vh;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 200px;
  z-index: 2;

  .dashboardName {
    text-decoration: none;
    font-size: 1.5rem;
  }

  .dashboardLink {
    padding: 48px;
    width: 200px;
    &:hover {
      cursor: pointer;
      i, .dashboardName {
        color: $white;
      }
    }
  }

  .streamsLink:hover {
    background-color: $lightgreen;
  }
  .gamesLink:hover {
    background-color: $red;
  }
  .videosLink:hover {
    background-color: $lightpurple;
  }
  .usersLink:hover {
    background-color: $darkpurple;
  }

}
