.header {
  position: absolute;
  top: 8%;
  font-size: 3rem;
  padding: 18px 0;
  color: $white;
  text-align: center;
  width: 100%;
}

.homeHeader {
  @include header-background($lightblue);
}

.streamsHeader {
  @include header-background($lightgreen);
}

.gamesHeader {
  @include header-background($red);
}

.videosHeader {
  @include header-background($lightpurple);
}

.usersHeader {
  @include header-background($darkpurple);
}
