.homeContainer {
  background-color: red;
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;


  .headerHeadline {
    position: absolute;
    left: 50;
    top: 0;
    color: black;
  }

}
