.content  {
  background-color: $whitegrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: right;
  height: auto;

  .contentListItem {
    display: inline-block;
    padding: 24px;
    font-size: 1.35rem;
  }

  .contentListItemFollowers {
    float: right;
  }

  ul {
    padding: 48px;
    margin-top: 210px;
    margin-left: 242px;

  }

}
